<html ng-app="Voting">
<head>
    <title>Internal crowdfunding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- external libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <!-- load all application files here -->
    <script src="app.js"></script>

    <!-- css styling -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body ng-controller="MainController">

<div class="container">
    <h1>Internal crowdfunding: Voting</h1><br/><br/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Idea</th>
            <th>Current budget</th>
            <th>My budget</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="idea in ideas">
            <td>{{idea.name}}</td>
            <td>{{idea.curr}}</td>
            <td><input class="form-control" value=0 id="idea.id"></td>
        </tr>
        </tbody>
    </table>
    <div align="right">
      <button class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
</div>
</body>
</html>
